.user-list-container .no-result {
  opacity: 0.3;
  margin-top: 50px;
}

.user-list-container ul {
  padding: 0;
  overflow: scroll;
  height: 430px;
}

.user-list-container .result-counter {
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0.5;
  font-size: 0.75rem;
}

.loader-svg {
  margin-top: 30px;
}
