.user-list-container .no-result {
  opacity: 0.3;
  margin-top: 50px;
}

.user-list-container {
  padding: 0;
  overflow: scroll;
  height: calc(100% - 90px);
}

.user-list-container ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.result-counter {
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  opacity: 0.5;
  font-size: 0.75rem;
}

.loader-svg {
  display: block;
  margin: 30px auto;
}

.loader-more-svg {
  display: block;
  margin: 10px auto;
}

.mobile-load-more {
  display: none;
}

@media (max-width: 500px) {
  .user-list-container {
    height: calc(100% - 150px);
  }

  .mobile-load-more {
    display: block;
  }

  .load-more-btn {
    display: none;
  }
}
