.input-container {
  width: 100%;
}

.input-container input.input-error {
  border: 1px solid #ff3232;
}

input[type='text'] {
  width: calc(100% - 8px);
  height: 45px;
  font-size: 1rem;
  color: white;
  background-color: #0e1117;
  border: var(--grey-border);
  padding: 8px 16px;
  border-radius: var(--border-5-radius);
  margin-right: 10px;
}
