.search-icon path {
  fill: white;
}

.submit-button {
  padding: 7px 15px;
  border: var(--grey-border);
  border-radius: var(--border-5-radius);
  color: white;
  background-color: #21262c;
  height: 45px;
  width: 45px;
}
