.App {
  text-align: center;
  margin-top: 80px;
  height: calc(100vh - 100px);
}

.App header {
  display: flex;
  align-items: center;
  background-color: #161b22;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  height: 60px;
  text-align: left;
}

.App header h2 {
  font-weight: 600;
}

label {
  margin-right: 10px;
}
